.hfeed.site {
	box-shadow:
		-5px 0 5px transparentize( $black, 0.67 ),
		5px 0 5px transparentize( $black, 0.67 );
	margin: 0 auto;
	max-width: 1024px;
}

.site-content {
	background-color: $white;

	@include breakpoint( $bp-medium ) {
		display: flex;
		justify-content: space-between;
		padding-top: 1.5em;
		@include side-padding;

		.content-area {
			width: span(8);
		}

		.widget-area {
			width: span(4);
		}
	}

	@include breakpoint( $bp-large ) {
		padding-top: rem(50px);
	}
}
