.site-header {
	background-color: $color__background-body;
	border-top: 4px solid $black;

	a {
		// @extend %page-shadow;
		// margin: 0 auto;
		// max-width: 1024px;
		position: relative;
	}
}

.header__image {
	height: 160px;
	overflow: hidden;
	text-align: center;
	width: 100%;

	@include breakpoint( 321px ) {
		height: 210px;
	}

	@include breakpoint( $bp-medium ) {
		height: 225px;
	}

	img {
		display: inline;
		height: 100%;
		left: 100%;
		margin-left: -200%;
		max-width: none;
		position: relative;
		width: auto;
	}
}

.site-logo {
	height: 75px;
	left: 50%;
	position: absolute;
	top: rem(5px);
	transform: translate( -50%, 0 );
	width: 75px;

	img {
		height: auto;
		width: 100%;
	}

	@include breakpoint( $bp-medium ) {
		height: 124px;
		left: 1rem;
		top: 1rem;
		transform: none;
		width: 124px;
	}
}

.site-branding {
	background: transparentize( #000, 0.5 );
	bottom: 0;
	color: $white;
	left: 0;
	padding-top: 1rem;
	position: absolute;
	right: 0;
	@include side-padding;

	@include breakpoint( $bp-large ) {
		height: 90px;
		padding-top: rem( 22px );
	}
}

.site-title {
	font: {
		family: $font__main;
		weight: $font-weight__bold;
	}
	line-height: ( 48px / 40px );
	@include font-size(2);

	@include breakpoint( $bp-large ) {
		float: left;
	}
}

.site-description {
	font: {
		family: $font__alt;
		style: italic;
	}
	line-height: ( 48px / 24px );
	margin: 0;

	@include breakpoint( $bp-large ) {
		clear: none;
		float: left;
		margin-left: 3em;
	}
}
