.widget {
	margin: 0 0 2rem;
	@include side-padding;

	@include breakpoint( $bp-medium ) {
		padding: 0;
	}

	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

.site-content {

	.widget-area {
		background-color: $gray-light;
		border-top: 4px solid $black;
		padding: 1.4rem 0;

		@include breakpoint( $bp-medium ) {
			background-color: transparent;
			border-top: none;
			padding: 0;
		}

		.widget-title {
			border: solid $black {
				width: 1px 0;
			}
			font-weight: $font-weight__bold;
			margin-bottom: 4px;
			text: {
				align: center;
				transform: uppercase;
			}
			@include font-size( 1.5 );
		}
	}
}
