// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin highlight( $hue-adjust: 0 ) {
	background-color: transparentize( hsl( ( 300 + $hue-adjust ), 100%, 50% ), 0.8 );
}

@mixin hover-state {
	&:hover,
	&:active,
	&:focus {
		@content;
	}
}
