.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	@include side-padding;

	@include breakpoint( $bp-medium ) {
		padding: 0;
	}

	.entry-meta {
		background-color: $black;
		border-radius: 500px;
		color: $white;
		float: left;
		font: {
			family: $font__alt;
			style: italic;
		}
		margin-bottom: 1em;
		padding: 4px 15px;
		@include font-size(1.2);
	}

	.entry-title {
		font: {
			family: $font__alt;
			style: italic;
		}
		@include font-size(2.4);
	}

	.entry-author {
		font-family: $font__alt;
		@include font-size(1.5);
	}

	.entry-content {
		@include font-size(1.4);
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
