.main-navigation {
	$gradient: linear-gradient(
		to bottom,
		transparentize( #fff, 0.77 ),
		transparentize( #000, 0.77 ) 35px,
		transparentize( #000, 0.77 ) 100%
	);

	background: {
		color: $black;
		image: $gradient;
	}
	clear: both;
	display: block;
	margin: 0 auto;
	max-width: 960px;
	width: 100%;

	@include breakpoint( $bp-large ) {
		border-radius: 10px;
		height: 50px;
		left: 50%;
		line-height: 50px;
		overflow: hidden;
		position: absolute;
		transform: translate( -50%, -50% );
	}

	.menu {
		@extend %clearfix;
		background-color: $black;
		display: none;
		position: absolute;
		width: 100%;

		@include breakpoint( $bp-header ) {
			background-image: $gradient;
			display: block;
			position: static;
		}
	}

	&.toggled {
		.menu {
			display: block;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		@include breakpoint( $bp-medium ) {
			@include side-padding;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: none;
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		@include breakpoint( $bp-header ) {
			float: left;
		}

		&:hover > a {
		}
	}

	a {
		border-top: 1px solid transparentize( $white, 0.8 );
		color: mix( #000, $white, 10% );
		display: block;
		padding: {
			top: 0.5rem;
			bottom: 0.5rem;
		}
		text: {
			decoration: none;
			transform: uppercase;
		}
		white-space: nowrap;
		@include font-size(1.4);
		@include side-padding;

		@include hover-state {
			color: $white;
		}

		@include breakpoint( $bp-header ) {
			border-top: none;
			color: $white;
			padding: {
				left: 0.5em;
				right: 0.5em;
			}
			transition: background-color $hover-timing;

			@include hover-state {
				background-color: transparentize( $white, 0.8 );
			}
		}

		@include breakpoint( $bp-large ) {
			padding: {
				top: 0;
				bottom: 0;
			}
		}
	}
}

.menu-toggle {
	background: none;
	border: none;
	box-shadow: none;
	color: $white;
	height: 35px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text: {
		indent: 150%;
		shadow: none;
	}
	white-space: nowrap;
	width: 100%;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;

	&:hover {
		box-shadow: none;
	}

	&::after {
		content: "\f419";
		font: {
			family: Genericons;
			size: rem(18px);
		}
		height: 100%;
		left: 0;
		line-height: 35px;
		position: absolute;
		text: {
			align: left;
			indent: 0;
		}
		top: 0;
		width: 100%;
		@include side-padding;
	}

	@include breakpoint( $bp-header ) {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
