.paging-navigation {
	@extend %side-padding;

	.nav-previous a,
	.nav-next a {
		background-color: $black;
		border-radius: 100%;
		display: block;
		height: 32px;
		overflow: hidden;
		position: relative;
		text-indent: 150%;
		transition: background-color $hover-timing linear;
		white-space: nowrap;
		width: 32px;

		@include hover-state {
			background-color: mix( $white, $black, 40% );
		}

		&::before {
			color: $white;
			display: block;
			font: {
				family: Genericons;
				size: 24px;
			}
			height: 32px;
			left: 0;
			line-height: 32px;
			position: absolute;
			text: {
				align: center;
				indent: 0;
			}
			top: 0;
			width: 32px;
		}
	}

	.nav-next a {
		float: right;

		&::before {
			content: "\f429";
		}
	}

	.nav-previous a::before {
		content: "\f430";
	}
}
